<footer class="container-fluid bg-dark text-white mt-5">
<div class="d-flex justify-content-center py-3 border-top">
    <p class="mb-0">© 2025 Movie Checker</p>
</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>