<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div id="login-div">
        <form method="post">
            <div class="mb-3">
                <label for="inputUsername" class="form-label">Username:</label>
                <input type="username" class="form-control" name="username" autocomplete="off">
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password:</label>
                <div id="password-div">
                    <input type="password" class="form-control" name="password" autocomplete="off" id="password-input">
                    <button type="button" id="reveal-button"><img src="/images/eye.png" alt="eye-img" width="30" height="30" id="reveal-button-img"></button>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-primary" formaction="/login">Submit</button>
            <% if(locals.response) {%>
                <h5><%= response %></h5>
            <% } %>
        </form>
    </div>
    <%- include('partials/footer.ejs') %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/login_page.js"></script>
</body>
</html>